<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style/home.css' %}" />
    <title>EDIT PROFILE</title>
</head>
<body>
  <div>
    <div class="header-blue">
        <nav class="navbar fixed-top navbar-dark text-light navbar-expand-md navigation-clean-search" style="background-color: black;" >
            <div class="container"><a class="navbar-brand" href="#">FAMILY LINK</a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navcol-1">
                    <form class="form-inline ml-auto" target="_self" style="visibility: hidden;">
                        <div class="form-group"  style="color: white; float: right;">Search</label>
                          <input class="form-control search-field" type="search" name="search" id="search-field">
                        </div>
                    </form>
                    <span class="navbar-text"> <a href="{% url 'viewMember' %}" class="login">Home</a></span>
                  </div>
            </div>
        </nav>
        <div class="form_div">
          <form style="width: 20rem" method="POST" >
            {% csrf_token %} 
            <div class="form-group">
              <h1>Edit Profile</h1>
              <div class="form-group">
                <label for="exampleInputEmail1" class="text-white"
                  >Middle Name</label
                >
                {{form.middleName}}
              </div>
            <div class="form-group">
              <label for="exampleInputEmail1" class="text-white"
                >Email Address</label
              >
              {{form.email}}
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1" class="text-white"
                >Mobile No</label
              >
              {{form.mobileNo}}
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1" class="text-white"
                >Marraige Status</label
              >
              {{form.maritalStatus}}
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1" class="text-white"
                >Job Oraganization</label
              >
              {{form.jobOrg}}
            </div>
            <div class="form-group">
              <h4>Immediate Family</h4>
              <label for="exampleInputEmail1" class="text-white"
                >Mother</label
              >
              {{form.mother}}
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1" class="text-white"
                >Father</label
              >
              {{form.father}}
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1" class="text-white"
                >Spouse</label
              >
              {{form.spouse}}
            </div>
            <div class="form-group">
              <h4>Intrest</h4>
              <label for="exampleInputEmail1" class="text-white"
                >Movie</label
              >
              {{form.movie}}
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1" class="text-white"
                >Book</label
              >
              {{form.book}}
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1" class="text-white"
                >Sport</label
              >
              {{form.sport}}
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1" class="text-white"
                >BirthDay Present</label
              >
              {{form.present}}
            </div>
            <div class="form-group">
              <h4>Location</h4>
              <label for="city" class="text-white"
                >City</label
              >
              {{form.city}}
            </div>
            <div class="form-group">
              <label for="pinCode" class="text-white"
                >PinCode</label
              >
              {{form.pinCode}}
            </div>
            <div class="form-group">
              <label for="firstName" class="text-white"
                >Address</label
              >
              {{form.address1}}
            </div>
        
            <button type="submit" class="btn btn-primary">Submit</button>
          </form> 
        </div>
    </div>
</div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
</body>
</html>