<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style/islam.css' %}" />
    <title>PARA_24-25 | FAMILY LINK TREE</title>
</head>

<body>
    <div>
        <nav class="navbar fixed-top navbar-dark text-light navbar-expand-md navigation-clean-search"
      style="background-color: black;">
      <div class="container"><a class="navbar-brand" href="{% url 'viewMember' %}">FAMILY LINK</a><button
          class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle
            navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navcol-1">
          <span class="navbar-text" style="padding-left:2.5rem;padding-right:0.5rem"> <a href="{% url 'viewMember' %}"
              class="login">Home</a></span>
            <span class="navbar-text" style="padding-left:2.5rem;padding-right:0.5rem"> <a href="{% url 'islam' 'para' %}"
                class="login">Para</a></span>
          <span class="navbar-text" style="padding-left:2.5rem;padding-right:0.5rem"> <a href="{% url 'islam' '99names' %}"
                class="login">99names</a></span>
          <span class="navbar-text" style="padding-left:2.5rem;padding-right:0.5rem"> <a href="{% url 'islam' 'hadiths' %}"
              class="login">Hadiths</a></span>
          <span class="navbar-text" style="padding-left:2.5rem;padding-right:0.5rem"> <a href="{% url 'islam' 'stories' %}"
              class="login">Stories</a></span>
          
        </div>
      </div>
    </nav>
        <br>
        <br>
        <br>
        <br>
        <div class="main_div">
            <h1>{{obj}}</h1>
            
            <div class="names_div">
                <div class="name" style="background-color: #6decff;color: white;">40. AL-MU'MIN - THE BELIEVER</div>
                <div class="explaination">
                    <audio controls>
                        <source src="{% static 'audio/040.mp3' %}" type="audio/mpeg">
                    </audio>
                </div>
            </div>
            <div class="names_div">
                <div class="name" style="background-color: #6decff;color: white;">41. FUSSILAT - EXPLAINED IN DETAIL</div>
                <div class="explaination">
                    <audio controls>
                        <source src="{% static 'audio/041.mp3' %}" type="audio/mpeg">
                    </audio>
                </div>
            </div>
            <div class="names_div">
                <div class="name" style="background-color: #6decff;color: white;">42. ASH-SHURA - COUNCIL</div>
                <div class="explaination">
                    <audio controls>
                        <source src="{% static 'audio/042.mp3' %}" type="audio/mpeg">
                    </audio>
                </div>
            </div>
            <div class="names_div">
                <div class="name" style="background-color: #6decff;color: white;">43. AZ-ZUKHRUF - THE ORNAMENTS OF GOLD</div>
                <div class="explaination">
                    <audio controls>
                        <source src="{% static 'audio/043.mp3' %}" type="audio/mpeg">
                    </audio>
                </div>
            </div>
            <div class="names_div">
                <div class="name" style="background-color: #6decff;color: white;">44. AD-DUKHAN - THE DROUGHT</div>
                <div class="explaination">
                    <audio controls>
                        <source src="{% static 'audio/044.mp3' %}" type="audio/mpeg">
                    </audio>
                </div>
            </div>
            <div class="names_div">
                <div class="name" style="background-color: #6decff;color: white;">45. AL-JASIYAH - THE KNEELING</div>
                <div class="explaination">
                    <audio controls>
                        <source src="{% static 'audio/045.mp3' %}" type="audio/mpeg">
                    </audio>
                </div>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
</body>

</html>