body {
  background-color: #eafbff;


}

.row {
  justify-content: center;
}

.navbar {
  background: transparent;
  padding-top: .75rem;
  padding-bottom: .75rem;
  color: #fff;
  border-radius: 0;
  box-shadow: none;
  border: none;
}

@media (min-width:768px) {
  .navbar {
    padding-left: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  #logout {
    position: absolute;
    right: 2rem;
  }
}

.navbar .navbar-brand {
  font-weight: bold;
  color: inherit;
}

.navbar .navbar-brand:hover {
  color: #f0f0f0;
}

.navbar .navbar-collapse {
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  margin-top: .5rem;
}

@media (min-width:768px) {
  .navbar .navbar-collapse {
    border-color: transparent;
    margin: 0;
  }
}

.navbar .navbar-collapse span .login {
  color: #d9d9d9;
  margin-right: .5rem;
  text-decoration: none;
}

.navbar .navbar-collapse span .login:hover {
  color: #fff;
}

.navbar .navbar-toggler {
  border-color: rgba(255, 255, 255, 0.3);
}

.navbar .navbar-toggler:hover,
.header-blue .navbar-toggler:focus {
  background: none;
}

.navbar .navbar-nav a.active,
.header-blue .navbar .navbar-nav>.show .dropdown-item {
  background: none;
  box-shadow: none;
}

@media (min-width: 768px) {
  .navbar-nav .nav-link {
    padding-left: .7rem;
    padding-right: .7rem;
  }
}

@media (min-width: 992px) {
  .navbar-nav .nav-link {
    padding-left: 1.2rem;
    padding-right: 1.2rem;
  }
}

.navbar .navbar-nav>li>.dropdown-menu {
  margin-top: -5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, .1);
  background-color: #fff;
  border-radius: 2px;
}

.navbar .dropdown-menu .dropdown-item:focus,
.header-blue .navbar .dropdown-menu .dropdown-item {
  line-height: 2;
  color: #37434d;
}

.header-blue .navbar .dropdown-menu .dropdown-item:focus,
.header-blue .navbar .dropdown-menu .dropdown-item:hover {
  background: #ebeff1;
}

.action-button,
.action-button:not(.disabled):active {
  border: 1px solid rgba(255, 255, 255, 0.7);
  border-radius: 40px;
  color: #ebeff1;
  box-shadow: none;
  text-shadow: none;
  padding: .3rem .8rem;
  background: transparent;
  transition: background-color 0.25s;
  outline: none;
}

.action-button:hover {
  color: #fff;
}

.navbar .form-inline label {
  color: #d9d9d9;
}

.navbar .form-inline .search-field {
  display: inline-block;
  width: 60%;
  background: none;
  border: none;
  border-bottom: 1px solid transparent;
  border-radius: 0;
  color: #ccc;
  box-shadow: none;
  color: inherit;
  transition: border-bottom-color 0.3s;
}

.navbar .form-inline .search-field:focus {
  border-bottom: 1px solid #ccc;
}



.main_div {
  width: 100%;
  padding-bottom: 2rem;
}

.main_div h1 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
  color: #face49;
}

.names_div {
  margin-left: 3rem;
  margin-right: 3rem;
  margin-top: 2rem;
  box-shadow: 5px 4px 6px 2px lightblue;
}

.explaination {
  text-align: center;
  background-color: #e7e8e8;
  padding: 1rem;
  font-style: italic;
}

.name {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border-radius: 0.3rem 0 0 0;
  text-align: center;
  background-color: #b8d7ff;
  padding: 0.4rem;
}

.name_meaning {
  padding: 0.4rem;
  text-align: center;
  background-color: #daeaff;
}
.explaination audio{
  width: 25rem;
  height: 2.5rem;
}

@media (max-width: 500px) {
  .main_div h1 {
    font-size: 2.3rem;
  }
  .explaination audio{
    width: 20rem;
  }
}

@media (max-width: 430px) {
  .main_div div {
    font-size: 0.9rem;
  }
  .main_div h1 {
    font-size: 2.1rem;
  }
  .explaination audio{
    width: 17rem;
  }
}
@media (max-width: 400px) {
  .explaination audio{
    height: 2rem;
  }
  .names_div {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
}


@media (max-width: 355px) {
  .main_div div {
    font-size: 0.8rem;
  }
  .main_div h1 {
    font-size: 2rem;
  }
  .explaination audio{
    height: 1.7rem;
    width: 15rem;
  }
}

/* surah */

.para{
  border-radius: 1.5rem;
}

/* 99names */

.main_div .audio_div{
  display: flex;
  justify-content: center;
} 
.audio_div audio{
  width: 17rem;
}