<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'style/email.css' %}" />
  </head>
  <body>
    <div id="emailForm">
        <p>
            Email sent by {{email}} 
            <li>UserName - {{user_name}}</li> 
            <li>firstName - {{firstName}}</li> 
            <li>lastName - {{lastname}}</li>
            <li>Message - {{message}}</li>
        </p>
    </div>
  </body>
</html>
