<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body style="height:100%; background: #DCE35B; background: -webkit-linear-gradient(to right, #45B649, #DCE35B);
 background: linear-gradient(to right, #45B649, #DCE35B); display: grid;place-items: center;height: 100vh;
 margin: 0;font-family: 'Open Sans', sans-serif;">
  <div class="card" style="background: #12192c; border-radius: 30px; height: 85vh; width: 80vw;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);text-align: center;
  display: flex; flex-direction: column;justify-content: center;align-items: center;
  padding: 1em;overflow: hidden;color:#DCE35B;">
    <div class="text" style = "padding: 3rem;">
      <h1 style="font-family:cursive;font-size: 40px;">Happy Birthday! {{member.user_name}}</h1>
      <p>Congratutions you are now {{age}} years old</p>
      <p>Have a great future..!</p>
      
      <div class="credit" style="margin-top: 10px;text-align: center;">Sent by <br> FAMILY LINK TREE</div>
    </div>
    <div class="space" style = "height:100px;"></div>
  </div>
</body>
</html>
